span.word {
  display:inline-block;
}

span.word + span.word {
  margin-left:5px;
}

span.words-note {
  cursor:default;
  background-color:rgba(0,0,0,0.1);
  border-bottom: 1px dotted black;
  margin:0 5px;
}
span.words-note:hover{
  cursor:pointer;
  background-color:#e6e6e6;
}

body {margin:0}
