.main {
  padding: 2em;
  padding-top: 5em;
}

.home-menu {
  background-color:pink;
  box-shadow:0px 1px 3px 0 rgba(0,0,0,0.1);
}

.note {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  box-shadow:0px 1px 3px 0 rgba(0,0,0,0.1);
  width:90%;
  border-radius:3px;
}

span.word {
  margin-left:5px;
  display:inline-block;
}

span.words-note {
  cursor:default;
  background-color:rgba(0,0,0,0.1);
  border-bottom: 1px dotted black;
}
span.words-note:hover{
  cursor:pointer;
  background-color:#e6e6e6;
}
