.main {
  padding: 2em;
  padding-top: 5em;
}

.home-menu {
  background-color:pink;
  box-shadow:0px 1px 3px 0 rgba(0,0,0,0.1);
}

.note {
  margin: 20px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow:0px 1px 3px 0 rgba(0,0,0,0.1);
  width:90%;
  border-radius:2px;
}

span.word {
  display:inline-block;
}

span.word + span.word {
  margin-left:5px;
}

span.words-note {
  cursor:default;
  background-color:rgba(0,0,0,0.1);
  border-bottom: 1px dotted black;
  margin:0 5px;
}
span.words-note:hover{
  cursor:pointer;
  background-color:#e6e6e6;
}

.add-text{
  margin-top:20px;
  margin-left:10px;
}

.header .pure-menu-heading {
  text-transform: none;
}
